:root {
  --color-text-main: #212121;

  --color-bg-main: #eee;
  --color-bg-sec: #fff;

  --font-size-main: 16px;
  --font-weight: 700;

  --border-radius: 4px;

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
