:root {
  --color-text-main: #000;
  --color-text-sec: #808080;
  --color-text-third: #69707a;

  --color-bg-main: #eee;
  --color-bg-sec: #fff;
  --color-bg-third: #d2d4e0;

  --font-size-main: 16px;
  --font-size-sec: 14px;
  --font-size-third: 13px;

  --color-border: #9e9d9d;
  --font-weight: 500;
  --border-radius: 5px;
}
